@page "{id}"
@model Warehouse.Web.Pages.MaterialOutcomes.DeleteModel
@{
	ViewData["Title"] = "Delete outcome";

}
<div class="container">
	<div class="row">
		<form method="post">
			<div class="row mb-4">
				<div class="form-group col-3">
					<label asp-for="@Model.Outcome.OutcomeDate"></label>
					<h2>
						@Model.Outcome.OutcomeDate.ToString("dd.MM.yyyy HH:mm")
					</h2>
				</div>
				<div class="form-group col-4">
					<label asp-for="@Model.Outcome.Title"></label>
					<h2>
						@Model.Outcome.Title
					</h2>
				</div>
			</div>

			<table id="Outcome-item-table" class="table table-striped table-bordered table-sm">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Material
						</th>
						<th>
							Price
						</th>
						<th>
							Count
						</th>
					</tr>
				</thead>
				<tbody>
					@{
						int i = 1;
					}
					@foreach (var item in Model.Outcome.OutcomeItems)
					{
						<tr id="row-@i">
							<td>
								@i
							</td>
							<td>
								@item.Material?.Title
							</td>
							<td>
								@item.Price
							</td>
							<td>
								@item.Count
							</td>
						</tr>
						i++;
					}
				</tbody>
			</table>

			<button class="btn btn-danger"
					type="submit">
				Delete
			</button>
		</form>
	</div>

</div>
