@page "{id}"
@model Warehouse.Web.Pages.Incomes.DeleteModel
@{
}
<div class="container">
	<div class="row">
		<form method="post">
			<div class="row mb-4">
				<div class="form-group col-2">
					<label asp-for="@Model.Income.IncomeDate"></label>
					<input readonly asp-for="@Model.Income.IncomeDate" class="form-control" asp-format="{0:yyyy-MM-dd HH:mm}" />
				</div>
				<div class="form-group col-4">
					<label asp-for="@Model.Income.Title"></label>
					<input readonly asp-for="@Model.Income.Title" class="form-control" />
				</div>
			</div>

			<table id="income-item-table" class="table table-striped table-bordered table-sm">
				<thead>
					<tr>
						<th>
							Material
						</th>
						<th>
							Price
						</th>
						<th>
							Count
						</th>
					</tr>
				</thead>
				<tbody>
					@{
						int i = 1;
					}
					@foreach (var item in Model.Income.IncomeItems)
					{
						<tr id="row-@i">
							<td>
								<input asp-for="@item.Material.Title" readonly>
							</td>
							<td>
								<input asp-for="@item.Price">
							</td>
							<td>
								<input asp-for="@item.Count">
							</td>
							
						</tr>

						i++;
					}
				</tbody>
			</table>

			<button class="btn btn-danger"
					type="submit">
				Delete
			</button>
		</form>
	</div>

</div>
