@page
@model Warehouse.Web.Pages.MaterialCategories.IndexModel
@{
    ViewData["Title"] = "Categories list";
}
<h2>Categories</h2>
<p>
    <a asp-page="Create" type="button" class="btn btn-success">Create New</a>
</p>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="width:10%">
                    <a asp-page="./Edit" class="btn btn-sm btn-primary" asp-route-id="@item.Id">
                    <i class="bi bi-pencil">

                    </i>    
                    </a> 
                    <a asp-page="./Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">
                        <i class="bi bi-trash">

                        </i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Categories.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Categories.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Categories.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Categories.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>