@page
@model Warehouse.Web.Pages.ReadyProductsWarehouse.IndexModel
@{
    ViewData["Title"] = "Ready products warehouse";
}
<h2>Warehouse</h2>


<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
             <th>
                #
            </th>
            <th>
                 Title
            </th>
            <th>
                Batch number
            </th>
            <th>
                Count
            </th>
         
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model.Warehouses)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadyProductTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Warehouses.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Warehouses.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Warehouses.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Warehouses.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
